@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #f3f3f5;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.navbar {
    transition: all 0.3s ease;
}

.navbar-brand img,
.logo-item {
    transition: transform 0.3s ease;
}

    .logo-item:hover {
        transform: scale(1.05);
    }

.nav-item-main {
    color: white !important;
    padding: 10px 14px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

    .nav-item-main:hover {
        border-bottom: 2px solid white;
    }

.nav-link-icon-main {
    color: white !important;
    padding: 0.5rem 1rem;
    transition: transform 0.3s ease;
}

    .nav-link-icon-main:hover {
        transform: scale(1.2);
    }

/* RESPONSYWNE MENU */
@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column !important;
        align-items: center;
    }

    .navbar-collapse {
        background-color: #000;
        padding: 1rem 0;
    }

    .nav-item-main {
        padding: 10px;
    }

    .nav-link-icon-main {
        padding: 0.75rem;
    }
}

/* STOPKA */
footer {
    background-color: #1a1a1a;
    color: #f8f8f7;
    font-size: 14px;
}

.site-footer .logo-item {
    width: 150px;
}

.text-for-footer:hover {
    color: white !important;
    border-bottom: 2px solid white;
}


.text-for-footer:hover {
    color: white !important;
    border-bottom: 2px solid white;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .text-for-footer {
        display: block;
        text-align: center;
        padding: 0.75rem 0;
    }

    .site-footer .list-inline {
        flex-direction: column;
        gap: 8px;
    }
}
