@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
}

html {
    scroll-behavior: smooth;
}

.site-header {
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

    .site-header.sticky_head {
        background: rgb(255 255 255 / 80%);
        padding: 20px 0;
        border-color: #f2f2f2;
        backdrop-filter: blur(20px);
    }

.main-navigation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

    .main-navigation .menu li {
        display: inline-block;
        position: relative;
        margin: 0 6px;
    }

        .main-navigation .menu li:first-child {
            margin-left: 0;
        }

        .main-navigation .menu li:last-child {
            margin-right: 0;
        }

        .main-navigation .menu li:hover > ul,
        .main-navigation .menu li.focus > ul {
            opacity: 1;
            margin-top: 6px;
            visibility: visible;
        }

a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul a {
    width: 200px;
}

.main-navigation .menu li:hover > ul,
.main-navigation .menu li.focus > ul {
    left: auto;
}

.main-navigation .menu li a {
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;
}

    .main-navigation .menu li a:hover,
    .main-navigation .menu li .active-menu,
    .main-navigation .menu .sub-menu li .active-sub-menu {
        color: #34c759;
        background: #f3f3f5;
        box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
    }

.header-right {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
    box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
    align-items: center;
}

.cart-number {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    font-size: 12px;
    border: 1px solid #bfbfbf;
    color: #34c759;
}

.header-btn:hover {
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;
}

.header-search-form {
    position: relative;
}

    .header-search-form button {
        background: transparent;
        border: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 48px;
        height: 100%;
        opacity: 0.5;
    }

    .header-search-form .form-input {
        font-size: 14px;
        padding-right: 40px;
        width: 200px;
        height: 40px;
    }

.form-input::placeholder {
    color: rgba(70 69 71 / 0.7);
}

.form-input {
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.uil {
    color: #34c759;
}

.pb-3 {
    margin-top: 120px !important;
}

/* Scroll to top button */
.scrolltop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    color: #34c759;
    font-size: 26px;
    transition: 0.3s ease-in-out;
    border: none;
    z-index: 999;
}

    .scrolltop:hover {
        box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
        color: #0d0d25;
    }

/* Mobile toggle */
@media screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1368px;
    }
}

@media (min-width: 2100px) {
    .container {
        max-width: 1400px;
    }

    p, body, button, input {
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 1399px) {
    .header-right {
        margin-left: 20px;
    }

    .main-navigation .menu li {
        margin: 0 3px;
    }
}

@media (max-width: 1199px) {
    .header-btn {
        margin-left: 10px;
    }

    .header-right {
        margin-left: 10px;
    }

    .main-navigation .menu li {
        margin: 0;
    }

        .main-navigation .menu li a {
            padding: 4px 15px;
            font-size: 15px;
        }

    .header-search-form .form-input {
        width: 170px;
    }
}

@media (max-width: 991px) {
    .for-des {
        display: none !important;
    }

    .for-mob {
        display: block !important;
    }

    .site-header .container {
        max-width: 100%;
        padding: 0;
        height: 100%;
    }

        .site-header .container .row {
            margin: 0;
            height: 100%;
        }

            .site-header .container .row .col-lg-2 {
                width: auto;
                padding: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 30px;
                z-index: 2;
                display: flex;
                align-items: center;
            }

    .menu-toggle {
        position: absolute;
        top: 50%;
        right: 30px;
        border: none;
        background: transparent;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        z-index: 100;
        box-shadow: inset 6px 6px 7px #dadada, -6px -6px 10px #ffffff;
        border-radius: 10px;
        padding: 0 8px;
    }

        .menu-toggle span {
            display: block;
            width: 100%;
            height: 4px;
            margin-bottom: 5px;
            transition: 0.3s;
            border-radius: 5px;
            position: relative;
        }

            .menu-toggle span:last-child {
                margin: 0;
            }

    .toggled .menu-toggle span:nth-child(1) {
        transform: rotate(45deg);
        top: 5px;
    }

    .toggled .menu-toggle span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
    }

    .toggled .menu-toggle span:nth-child(3) {
        opacity: 0;
        height: 0;
    }

    .toggled .header-menu {
        transform: translateY(0);
    }

    html {
        font-size: 14px;
    }
}

footer {
    padding: 30px 0;
    background-color: #1a1a1a;
    color: #f8f8f7;
    font-size: 14px;
}

.site-footer a {
    color: #f8f8f7;
    text-decoration: none;
}

    .site-footer a:hover {
        color: #fff;
    }

.site-footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.site-footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-footer .col-md-3 {
    margin-bottom: 20px;
}

    .site-footer .col-md-3 ul {
        padding-left: 0;
        list-style: none;
    }

        .site-footer .col-md-3 ul li {
            margin-bottom: 10px;
        }

.site-footer .logo-container {
    text-align: center;
    margin-bottom: 20px;
}

    .site-footer .logo-container img {
        width: 150px;
    }

.site-footer .social-links {
    text-align: center;
    margin-top: 10px;
}

    .site-footer .social-links a {
        font-size: 20px;
        margin: 0 10px;
        color: #f8f8f7;
    }

        .site-footer .social-links a:hover {
            color: #34c759;
        }

.site-footer .list-inline-item {
    margin-right: 15px;
}

    .site-footer .list-inline-item:last-child {
        margin-right: 0;
    }

/* Mobile Responsiveness */
@media (max-width: 991px) {
    .site-footer .col-md-3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .site-footer .social-links {
        display: flex;
        justify-content: center;
    }

    .site-footer .list-inline {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .site-footer .list-inline-item {
        margin: 0 10px;
    }
}

.text-for-footer {
    color: white !important;
    position: relative;
    display: inline-block;
    padding: 10px;
    transition: color 0.3s, background 0.3s, box-shadow 0.3s, transform 0.3s, border-bottom 0.3s ease !important;
    border-bottom: 2px solid transparent !important; /* Pocz¹tkowy brak podkreœlenia */
}

    .text-for-footer:hover {
        transform: scale(1.05);
        border-bottom: 2px solid white !important; /* Podkreœlenie tekstu na hover */
    }

.nav-link-icon-main {
    color: white !important;
    transition: transform 0.3s ease; /* P³ynna animacja transformacji */
    padding: 0.5rem 1rem
}

    .nav-link-icon-main:hover {
        transform: scale(1.3); /* Lekkie powiêkszenie elementu */
    }

.logo-item {
    transition: transform 0.3s ease; /* P³ynna animacja transformacji */
}

    .logo-item:hover {
        transform: scale(1.1); /* Lekkie powiêkszenie elementu */
    }

.nav-item-main {
    color: white !important;
    position: relative;
    display: inline-block;
    padding: 10px;
    transition: border-bottom 0.3s ease !important; /* P³ynna animacja dla podkreœlenia */
    border-bottom: 2px solid transparent !important; /* Pocz¹tkowy brak podkreœlenia */
}

    .nav-item-main:hover {
        border-bottom: 2px solid white !important; /* Podkreœlenie tekstu na hover */
    }


/* Hover dla przycisków w nag³ówku - dla koszyka */
.cart-number {
    background: #34c759; /* Kolor t³a po najechaniu */
    color: white; /* Kolor tekstu */
    border: 1px solid #34c759; /* Zmieniamy kolor obramowania */
}

/* Efekt hover dla wyszukiwania */
.header-search-form .form-input:hover {
    background: #e2e2e2; /* Zmieniamy t³o pola wyszukiwania */
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff; /* Dodanie cienia */
}
/* Hover dla linków w stopce */
.site-footer a:hover {
    color: #34c759; /* Zmieniamy kolor na zielony przy najechaniu */
    text-decoration: underline; /* Podkreœlamy linki */
}

/* Hover dla ikon spo³ecznoœciowych */
.site-footer .social-links a:hover {
    color: #34c759; /* Zmieniamy kolor ikony */
}
/* Hover dla elementów listy w stopce */
.site-footer .list-inline-item:hover {
    color: #34c759; /* Zmieniamy kolor tekstu na zielony */
    cursor: pointer; /* Dodajemy kursor wskazuj¹cy na klikniêcie */
}
