<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Firma.PortalWWW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Firma.PortalWWW.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="body-fixed">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black py-2 fixed-top shadow-sm">
            <div class="container d-flex justify-content-between align-items-center">

                <a class="navbar-brand" href="#">
                    <img class="logo-item" src="~/assets/logo.svg" width="200" height="48" alt="Logo">
                </a>

                <ul class="navbar-nav flex-row gap-4 text-uppercase small mx-auto">
                    <li class="nav-item">
                        <a class="nav-item-main" href="#">Mac</a>
                    </li>                 
                    <li class="nav-item">
                        <a class="nav-item-main" href="#">iPhone</a>
                    </li>                
                    <li class="nav-item"> 
                        <a class="nav-item-main" href="#">iPad</a>
                    </li>                 
                    <li class="nav-item"> 
                        <a class="nav-item-main" href="#">Watch</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-item-main" href="#">Support</a>
                    </li>
                </ul>

                <div class="d-flex gap-3">
                    <a class="nav-link-icon-main" href="#"><i class="bi bi-search"></i></a>
                    <a class="nav-link-icon-main" href="#"><i class="bi bi-bag"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer text-center py-5 bg-black text-light">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Logo -->
                <div class="col-12 mb-4">
                    <a href="#">
                        <img class="logo-item" src="/assets/logo.svg" alt="Logo" width="150">
                    </a>
                </div>

                <!-- Footer Links -->
                <div class="col-12 col-md-8 mb-4">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-for-footer">Mac</a></li>
                        <li class="list-inline-item"><a href="#" class="text-for-footer">iPhone</a></li>
                        <li class="list-inline-item"><a href="#" class="text-for-footer">iPad</a></li>
                        <li class="list-inline-item"><a href="#" class="text-for-footer">Watch</a></li>
                        <li class="list-inline-item"><a href="#" class="text-for-footer">Support</a></li>
                    </ul>
                </div>

                <!-- Footer Policies -->
                <div class="col-12 mb-4">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-for-footer">Terms of Service</a></li>
                        <li class="list-inline-item"><a href="#" class="text-for-footer">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#" class="text-for-footer">Cookie Policy</a></li>
                    </ul>
                </div>

                <!-- Copyright -->
                <div class="col-12">
                    <p>&copy; 2025 Tech Stack. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
