@model IEnumerable<Firma.Data.Data.Sklep.Product>

<div class="ipad-store-container">
    <h1 class="store-title">All iPads. <span class="span-in-header">Which one do you need?</span></h1>
    <div class="grid-container">
        @foreach (var item in Model)
        {
            <div class="card">
                <h2 class="top-h2-padding">@item.Name</h2>
                <img src="@item.ImageUrl" alt="@item.Name">
                <div class="p-and-button">
                    <p class="price">$ @item.Price.ToString("F2")</p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        }
    </div>
</div>
