@model IEnumerable<Firma.Data.Data.Sklep.Support>

<div class="support-container">
    <h1 class="store-title">Support</h1>
    <div class="support-grid">
        @foreach (var item in Model)
        {
            <div class="support-card">

            </div>
        }
    </div>
</div>

