@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f5;
    color: #1a1a1a;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    transition: all 0.3s ease;
}

.navbar-brand .logo-item {
    transition: transform 0.3s ease;
}

.logo-item:hover {
    transform: scale(1.1);
}

.nav-item-main {
    color: white !important;
    padding: 0.5rem 0.75rem;
    position: relative;
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

    .nav-item-main:hover {
        border-bottom: 2px solid white;
    }

.nav-link-icon-main {
    color: white !important;
    transition: transform 0.3s ease;
}

    .nav-link-icon-main:hover {
        transform: scale(1.2);
    }

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Dodatkowy odstêp na górze pod fixed-navbar */
main {
    margin-top: 100px;
}

/* Footer */
.site-footer {
    background-color: #1a1a1a;
    color: #f8f8f7;
    font-size: 14px;
}

    .site-footer a {
        color: #f8f8f7;
        transition: color 0.3s;
    }

        .site-footer a:hover {
            color: #34c759;
            text-decoration: underline;
        }

.text-for-footer {
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

    .text-for-footer:hover {
        transform: scale(1.05);
        border-bottom: 2px solid white;
    }

.logo-item {
    width: 150px;
}

/* Media queries dla responsywnoœci */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

        .navbar-nav .nav-item {
            margin-bottom: 0.5rem;
        }

    .site-footer .list-inline {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .text-for-footer {
        padding: 5px;
    }
}
