@model Firma.Data.Data.Sklep.Product

@{
    ViewData["Title"] = "iPad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/tabs.css" />

@await Html.PartialAsync("Ipad", (IEnumerable<Firma.Data.Data.Sklep.Product>)ViewBag.ModelProducts)

<div class="ipad-store-container">
    <h1 class="store-title">All iPads. <span class="span-in-header">Which one do you need?</span></h1>
    <div class="grid-container">
        
        <div class="card">
            <h2 class="top-h2-padding">iPad Air</h2>
            <img src="~/assets/ipadair.jpg" alt="iPad Air">
            <div class="p-and-button">
                <p class="price">$749</p>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="card">
            <h2 class="top-h2-padding">iPad</h2>
            <img src="~/assets/ipad.jpg" alt="iPad">
            <div class="p-and-button">
                <p class="price">$479</p>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="card">
            <h2 class="top-h2-padding">iPad Pro</h2>
            <img src="~/assets/ipadpro.jpg" alt="iPad Pro">
            <div class="p-and-button">
                <p class="price">$1299</p>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="card">
            <h2 class="top-h2-padding">iPad mini</h2>
            <img src="~/assets/ipadmini.jpg" alt="iPad mini">
            <div class="p-and-button">
                <p class="price">$599</p>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

    </div>
</div>
