@model IEnumerable<Firma.Data.Data.Sklep.Product>

@{
    ViewData["Title"] = "Apple Watch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/watch.css" />

<div class="watch-store-container">
    <h1 class="store-title">All Apple Watch models. <span class="span-in-header">Which one for you?</span></h1>
    <div class="watch-grid">
        @foreach (var item in Model)
        {
            <div class="watch-card">
                <h2 class="top-h2-padding">@item.Name</h2>
                <img src="~/assets/watch10.jpg" alt=@item.Name>
                <div class="color-selector">
                    <span class="color-circle" style="background-color: #000;"></span>
                    <span class="color-circle" style="background-color: #fff;"></span>
                    <span class="color-circle" style="background-color: #007aff;"></span>
                </div>
                <div class="p-and-button">
                    <p class="price">$ @item.Price</p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        }
    </div>
</div>
