@{
    ViewData["Title"] = "Apple Watch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/watch.css" />

<div class="watch-store-container">
    <h1 class="store-title">All Apple Watch models. <span class="span-in-header">Which one for you?</span></h1>
    <div class="watch-grid">

        <div class="watch-card">
            <h2 class="top-h2-padding">Apple Watch Series 10</h2>
            <img src="~/assets/watch10.jpg" alt="Apple Watch Series 10">
            <div class="color-selector">
                <span class="color-circle" style="background-color: #000;"></span>
                <span class="color-circle" style="background-color: #fff;"></span>
                <span class="color-circle" style="background-color: #007aff;"></span>
            </div>
            <div class="p-and-button">
                <p class="price">$499</p>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="watch-card">
            <h2 class="top-h2-padding">
                Apple Watch Ultra 2
            </h2>
            <img src="~/assets/watchultra2.jpg" alt="Apple Watch Ultra 2">
            <div class="color-selector">
                <span class="color-circle" style="background-color: #000;"></span>
                <span class="color-circle" style="background-color: #fff;"></span>
            </div>
            <div class="p-and-button">
                <p class="price">$999</p>
                <a href="#" class="btn buy-btn">Buy</a>
            </div>
        </div>
        <div class="watch-card">
            <h2 class="top-h2-padding">Apple Watch SE</h2>
            <img src="~/assets/watchse.jpg" alt="Apple Watch SE">
            <div class="color-selector">
                <span class="color-circle" style="background-color: #000;"></span>
                <span class="color-circle" style="background-color: #fff;"></span>
            </div>
            <div class="p-and-button">
                <p class="price">$249</p>
                <a href="#" class="btn buy-btn">Buy</a>
            </div>
        </div>
    </div>
</div>
